@import 'material-icons/iconfont/material-icons.css';
.tasks{
     background-color: #ECEDF6;
     width: 650px;
     height: 80px;
     border-radius: 0.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
}
.no-todos{
     background-color: #DEDFE1;
     padding: 0.7rem;
     border-radius: 0.5rem;
}
.added-tasks{
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 0.8rem;
     background-color: #dadbdf;
     width: 650px;
     min-height: 80px;
     border-radius: 0.5rem;
     padding: 1rem;
     border-radius: 0.3rem;
}
.task{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0.5rem 1rem;
     border-radius: 0.2rem;
     background-color: var(--white);
}
.task-div1{
     display: flex;
     align-items: center;
     gap: 1rem;
     input{
          height: 20px;
          width: 20px;
     }
     .details{
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          h4{
               font-size: small;
          }
          .addedDate{
               display: flex;
               gap: .3rem;
               font-size: small;
          }
     }
}
.edit{
     background-color: #DEDFE1;
     border: none;
     padding: 0.1rem;
     color: #585858;
}
.task-div2{
     display: flex;
     gap: 1rem;
}
@media only screen and (max-width:700px) {
     .tasks,.added-tasks{
          width: 580px;
     }
}
@media only screen and (max-width:580px){
     .tasks,.added-tasks{
          width: 500px;
     }
}
@media only screen and (max-width:520px){
     .tasks,.added-tasks{
          width: 450px;
     }
}
@media only screen and (max-width:431px){
     .tasks,.added-tasks{
          width: 360px;
     }
}