.header-container{
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     background-color: var(--darkgrey);
     padding: 1.3rem 2.1rem;
     position: sticky;
     top: 0;
     left: 0;
}
.header-head{
     color: var(--blue);
}
.header-links{
     display: flex;
     align-items: center;
     gap: 1.3rem;
}
.link{
     text-decoration: none;
     color: var(--grey);
     font-weight: 600;
}
.link:hover{
     color: var(--white);
     transition: all 0.3s;
}
.drawer{
     display: none;
}
/* Media Queries */
@media only screen and (max-width:840px) {
     .drawer{
          display: flex;
     }
     .header-links{
          display: none;
     }
     .mobile-drawer{
          display: flex;
          padding: 2rem 1.5rem;
          flex-direction: column;
          background-color: var(--black);
          height: 100%;
          gap: 1.5rem;
     }
}
@media only screen and (max-width:500px) {
     .header-head{
          font-size: 25px;
     }
     .header-container{
          padding: 1.3rem 0.8rem;
     }
}